:root {
  --c-bg: #000;
  --c-text: #fff;

  --c-divider: rgba(255, 255, 255, 0.2);

  --c-text-light-1: #ddd;
  --c-text-light-2: #bbb;
  --c-text-light-3: #999;

  --c-brand: #7bf;
  --c-brand-light: #9cf;

  --shadow: 0 6px 32px rgba(255, 255, 255, 0.4), 0 2px 6px rgba(255, 255, 255, 0.2);

  --code-inline-bg-color: rgba(255, 255, 255, 0.2);
  --code-bg-color: #282c34;

  --header-height: 3rem;
  --header-bg: rgba(170, 170, 170, 0.2);
}
body.light {
  --c-bg: #fff;
  --c-text: #000;

  --c-divider: rgba(0, 0, 0, 0.2);

  --c-text-light-1: #222;
  --c-text-light-2: #444;
  --c-text-light-3: #666;

  --c-brand: #05a;
  --c-brand-light: #048;

  --shadow: 0 6px 32px rgba(0, 0, 0, 0.4), 0 2px 6px rgba(0, 0, 0, 0.2);

  --code-inline-bg-color: #eee;
  --code-bg-color: #eee;

  --header-bg: rgba(85, 85, 85, 0.2);
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  color: var(--c-text);
  background-color: var(--c-bg);
  line-height: 1.4;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: var(--header-height);
  border-bottom: 1px solid var(--c-divider);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  background-color: var(--header-bg);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
.sidebar-toggler {
  display: none;
  line-height: 1.6rem;
}
.nav-bar-title {
  margin-right: auto;
  color: var(--c-brand);
  font-size: 2rem;
  text-shadow: 0 0 4px var(--c-brand);
}
.nav-bar .sidebar-item {
  padding: 0.2rem;
  margin: 0.2rem;
}
.nav-item {
  padding: 0.2rem;
  margin: 0 0.4rem;
  border: none;
  border-bottom: 2px solid transparent;
  color: var(--c-text);
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}
.nav-item:hover,
.nav-item.active {
  border-bottom-color: var(--c-brand);
  color: var(--c-brand);
  text-shadow: 0 0 4px var(--c-brand);
  text-decoration: none;
}
.dialog {
  display: none;
  box-shadow: var(--shadow);
  border-radius: 4px;
  background-color: var(--c-bg);
}
.dialog > a {
  display: block;
}
.locales {
  position: relative;
}
.locales:hover > .dialog {
  display: block;
  position: absolute;
  bottom: -4px;
  right: 0;
  width: 100%;
  text-align: center;
  transform: translateY(100%);
}

.sidebar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  bottom: 0;
  z-index: 100;
  border-right: 1px solid var(--c-divider);
  width: 16rem;
  line-height: 2;
}
.sidebar-item {
  display: block;
  border-left: 4px solid transparent;
  color: var(--c-text);
}
.sidebar-item-0 {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 1rem;
}
.sidebar-item-1 {
  padding-left: 2rem;
}
.sidebar-item-2 {
  padding-left: 3rem;
}
a.sidebar-item:hover,
a.sidebar-item.active {
  border-left-color: var(--c-brand);
  color: var(--c-brand);
  text-shadow: 0 0 4px var(--c-brand);
  text-decoration: none;
}

.page {
  margin-left: 16rem;
  padding: var(--header-height) 1.5rem 4rem;
}

@media screen and (max-width: 600px) {
  .nav-bar {
    padding: 0;
  }
  .nav-bar-title {
    font-size: 1.6rem;
  }
  .nav-bar > .nav {
    text-align: right;
  }
  .nav-item {
    padding: 0.1rem;
    font-size: 0.8rem;
    white-space: nowrap;
  }
  .sidebar {
    display: none;
  }
  .sidebar.shown {
    display: block;
    background-color: var(--header-bg);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
  .sidebar-toggler {
    display: block;
  }
  .page {
    margin-left: 0;
    padding: var(--header-height) 1rem 3rem;
  }
}
