a {
  color: var(--c-brand);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--c-divider);
  padding-bottom: 0.3rem;
}

code {
  background-color: var(--code-inline-bg-color);
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  white-space: pre-wrap;
  word-break: break-all;
}

pre > code {
  display: block;
  background-color: var(--code-bg-color);
}

.hl-k {
  color: #f9f;
}
.hl-s {
  color: #f75;
}
.hl-n {
  color: #6f6;
}
.hl-m {
  color: #ff7;
}
.hl-i {
  color: #57f;
}
.hl-c {
  color: #bbb;
}
