a {
  color: var(--c-brand);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h2 {
  margin: 2rem 0 1rem;
  border-bottom: 1px solid var(--c-divider);
  padding-bottom: 0.3rem;
}

code {
  position: relative;
  background-color: var(--code-bg-color);
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  white-space: pre-wrap;
  word-break: break-all;
}
code::before {
  position: absolute;
  top: 0;
  right: 0;
  font-size: .8rem;
  color: var(--c-text-light);
}
code.language-js::before {
  content: 'js';
}
code.language-html::before {
  content: 'html';
}
code.language-css::before {
  content: 'css';
}
pre > code {
  display: block;
  background-color: var(--code-bg-color);
}

.hl-k {
  color: #c3c;
}
.hl-s {
  color: #f66;
}
.hl-n {
  color: #4c4;
}
.hl-m {
  color: #aa1;
}
.hl-i {
  color: #66f;
}
.hl-c {
  color: #999;
}
